<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pwc.workbench.dao.UserDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.pwc.workbench.domain.UserDepartment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="department_id" property="departmentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, department_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from public.t_user_department
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectIfExistUserId" resultType="boolean" parameterType="java.lang.Long" >
    select
    <choose>
      <when test="userId != null">#{userId,jdbcType=BIGINT}</when>
      <otherwise>0</otherwise>
    </choose>
    in (select distinct user_id from t_user_department)
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from public.t_user_department
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pwc.workbench.domain.UserDepartment" >
    insert into public.t_user_department (id, user_id, department_id
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pwc.workbench.domain.UserDepartment" >
    insert into public.t_user_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pwc.workbench.domain.UserDepartment" >
    update public.t_user_department
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pwc.workbench.domain.UserDepartment" >
    update public.t_user_department
    set user_id = #{userId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>